.container {
  border-radius: 18px;
  box-shadow: 0px 10px 13px -4px #23235f30;
  overflow: hidden;

  .image {
    padding: 9px 16px 9px 17px;
    display: flex;
    justify-content: center;

    img {
      height: 144px;
    }
  }

  .caption {
    font-size: 18px;
    line-height: 18px;
    padding: 12px 18px 18px;
  }
}
